<div class="footer">
  <div class="footer--flex">
    <p>جميع الحقوق محفوظة &copy; 2023 Smarty</p>
    <div class="contact-icons">
      <a href="mailto:info@smartykids.com" target="_blank"
        ><i class="material-icons">email</i></a
      >
      <a href="tel:+1234567890"><i class="material-icons">phone</i></a>
      <a href="https://www.facebook.com/smartykids" target="_blank"
        ><i class="material-icons">facebook</i></a
      >
      <!-- Add more icons and links as needed -->
    </div>
  </div>
</div>
