<mat-toolbar class="sub-toolbar">
  <div class="sub-toolbar-content">
    <div class="left-sub-content">
      <a mat-raised-button [routerLink]="['/Quiz']">
        <i class="material-icons button-sub-icon">stars</i>
        ابدأ الاختبار
      </a>
    </div>

    <div class="right-sub-content">
      <h3>اكتشف المزيد عن الاختبار واحصل على الشارات والهدايا الافتراضية!</h3>
    </div>
  </div>
</mat-toolbar>
<mat-toolbar>
  <div class="mainpage">
    <div class="left-content">
      <a mat-raised-button href="">المحتوى</a>
      <a mat-raised-button href="">المميزات</a>
    </div>
    <div data-aos="flip-left" data-aos-duration="1500" class="center-content">
      <img src="../../assets/mainlogo.png" alt="" />
    </div>
    <div class="right-content">
      <a mat-raised-button href="">أراء المختصين​</a>
      <a mat-raised-button href="">إتصل بنا​</a>
    </div>
  </div>
</mat-toolbar>
