<mat-dialog-content class="quiz-dialog-content">
  <div class="dialog-container">
    <div class="dialog-header">
      <h2 class="dialog-heading">رحلة إلى كنز المعرفة</h2>
    </div>
    <div class="dialog-body">
      <p class="dialog-text">
        مرحبًا، أيها المستكشف الصغير! أنت على وشك الانطلاق في مغامرة استثنائية،
        رحلة ستكشف أسرار المعرفة والحكمة.
      </p>
      <p class="dialog-text">
        في عمق الفصول المخفية يكمن كنز المعرفة الأسطوري، في انتظار أولئك الذين
        يجرؤون على السعي لاكتشافه. كل فصل هو بوابة إلى عوالم جديدة من الفهم، حيث
        تنتظرك التحديات وتكشف الألغاز.
      </p>
      <p class="dialog-text">
        هل أنت مستعد لكشف الحكمة القديمة والاستيلاء على الكنوز المنتظرة في
        المستقبل؟ لنبدأ الرحلة!
      </p>
    </div>
    <div class="dialog-footer">
      <button mat-button class="start-button" (click)="startQuiz()">بدء</button>
    </div>
  </div>
</mat-dialog-content>
