<div class="game-zone">
  <div class="game-content">
    <div class="game-overlay">
      <span class="question-badge">{{ questionNumber }}</span>
      <h2 class="question">{{ currentQuestion }}</h2>
      <div class="option-buttons">
        <button
          class="option-button"
          *ngFor="let option of options"
          [class.selected]="selectedAnswer === option"
          (click)="selectAnswer(option)"
        >
          {{ option }}
        </button>
      </div>

      <button class="submit-button" (click)="nextQuestion()">Next</button>
    </div>
  </div>

  <div class="progress-bar">
    <div class="rocket-path">
      <img
        src="../../../assets/superherdo.png"
        alt="Rocket"
        [class.rocket-in-progress]="questionIndex < 100"
        [style.left.%]="calculateRocketPosition()"
      />
    </div>
    <img
      src="../../../assets/tcDhSwpUqxEHFko.png"
      alt="Moon Start"
      class="moon moon-start"
    />
    <mat-progress-bar
      class="progress"
      mode="determinate"
      [value]="calculateRocketPosition()"
      color="warn"
    ></mat-progress-bar>

    <img
      src="../../../assets/lFhYZYOjmGMEGUz.png"
      alt="Moon End"
      class="moon moon-end"
    />
  </div>
</div>
